{
  "openapi": "3.1.0",
  "info": {
    "title": "iFlash Open API",
    "description": "Chào mừng bạn đến với tài liệu kỹ thuật iFlash Open API. Nếu có bất kỳ câu hỏi nào, vui lòng liên hệ qua email.\n",
    "version": "1.0.0",
    "contact": {
      "email": "cskh@tcbs.com.vn",
      "url": "https://developers.tcbs.com.vn"
    },
    "x-logo": {
      "url": "https://www.tcbs.com.vn/tcbs-styled-theme/images/custom_images/logotcbs.svg",
      "altText": "Tcbs logo"
    }
  },
  "servers": [
    {
      "url": "https://openapi.tcbs.com.vn",
      "description": "Production"
    },
    {
      "url": "https://openapisit.tcbs.com.vn",
      "description": "SIT"
    }
  ],
  "paths": {
    "/gaia/v1/oauth2/openapi/token": {
      "post": {
        "security": [],
        "operationId": "get_token",
        "tags": [
          "authen"
        ],
        "summary": "2.1.1. Trao đổi API Key để lấy JWT Token",
        "description": "",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponseErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/akhlys/v1/accounts/{accountNo}/orders": {
      "post": {
        "operationId": "order",
        "tags": [
          "order_stock_normal"
        ],
        "summary": "5.1.1. Đặt lệnh thường",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderExternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/akhlys/v1/accounts/{accountNo}/orders/{orderId}": {
      "put": {
        "operationId": "update_order_stock_normal",
        "tags": [
          "update_order_stock_normal"
        ],
        "summary": "5.2.1. Sửa lệnh thường",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "orderId",
            "required": true,
            "schema": {
              "type": "string",
              "example": "9202205230000324355"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/akhlys/v1/accounts/{accountNo}/cancel-orders": {
      "put": {
        "operationId": "cancel_order",
        "tags": [
          "cancel_order_stock_normal"
        ],
        "summary": "5.3.1. Huỷ lệnh thường",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/orders": {
      "get": {
        "operationId": "get_order",
        "tags": [
          "get_order_stock_normal"
        ],
        "summary": "5.4.1. Lấy sổ lệnh",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/orders/{orderID}": {
      "get": {
        "operationId": "get_order_by_order_id",
        "tags": [
          "get_order_stock_normal"
        ],
        "summary": "5.4.2. Lấy sổ lệnh theo Order ID",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "9202110200000060280"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/matching-details": {
      "get": {
        "operationId": "get_command_match_information",
        "tags": [
          "get_order_stock_normal"
        ],
        "summary": "5.4.3. Lấy thông tin khớp lệnh",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandMatchInformationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/ppse": {
      "get": {
        "operationId": "get_purchasing_power",
        "tags": [
          "purchasing_power_stock_normal"
        ],
        "summary": "5.5.1. Lấy sức mua",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/ppse/{symbol}": {
      "get": {
        "operationId": "get_purchasing_power_symbol",
        "tags": [
          "purchasing_power_stock_normal"
        ],
        "summary": "5.5.2. Lấy sức mua theo mã",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Mã chứng khoán",
            "required": true,
            "schema": {
              "type": "string",
              "example": "FPT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/ppse/{symbol}/{price}": {
      "get": {
        "operationId": "get_purchasing_power_symbol_price",
        "tags": [
          "purchasing_power_stock_normal"
        ],
        "summary": "5.5.3. Lấy sức mua theo mã, giá",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Mã chứng khoán",
            "required": true,
            "schema": {
              "type": "string",
              "example": "FPT"
            }
          },
          {
            "name": "price",
            "in": "path",
            "description": "Giá tính sức mua",
            "required": true,
            "schema": {
              "type": "string",
              "example": "52000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/se": {
      "get": {
        "operationId": "get_asset",
        "tags": [
          "get_asset_stock_normal"
        ],
        "summary": "5.6.1. Tra cứu tài sản cổ phiếu theo tiểu khoản",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeInfoDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/aion/v1/accounts/{accountNo}/cashInvestments": {
      "get": {
        "operationId": "get_cash_investment",
        "tags": [
          "get_asset_stock_normal"
        ],
        "summary": "5.6.2. Lấy thông tin số dư tiền",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountNo",
            "in": "path",
            "description": "Số tiểu khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0001170730"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashInvestmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/eros/v2/get-profile/by-username/{custodyCode}": {
      "get": {
        "operationId": "get_sub_account_information",
        "tags": [
          "account"
        ],
        "summary": "3.1.1. Lấy thông tin tiểu khoản",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "custodyCode",
            "in": "path",
            "description": "Số tài khoản",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C334455"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Danh sách thông tin cần lấy",
            "required": true,
            "schema": {
              "type": "string",
              "example": "basicInfo,personalInfo,bankSubAccounts,bankAccounts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInformationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/account/status": {
      "get": {
        "operationId": "total_cash_derivative",
        "tags": [
          "total_cash_derivative"
        ],
        "summary": "6.1.1. Tổng quan tiền, ký quỹ của phái sinh",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "số tài khoản lưu kí",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402"
            }
          },
          {
            "name": "subAccountId",
            "in": "query",
            "description": "Tiểu khoản phái sinh",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402A"
            }
          },
          {
            "name": "getType",
            "in": "query",
            "description": "- `0`: Lấy toàn bộ\n- `1`: Chỉ lấy tiền\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.Portfolio.AccountStatus",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "$ref": "#/components/schemas/TotalCashDerivativeResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/account/portfolio/position/close": {
      "get": {
        "operationId": "asset_position_close_derivative",
        "tags": [
          "asset_derivative"
        ],
        "summary": "6.2.1. Tài sản, vị thế đóng",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "số tài khoản lưu kí",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402"
            }
          },
          {
            "name": "subAccountId",
            "in": "query",
            "description": "Tiểu khoản phái sinh",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402A"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Mã chứng khoán",
            "required": false,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Số trang",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Số dòng",
            "required": true,
            "schema": {
              "type": "number",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.Portfolio.PositionClose",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": null
                    },
                    "oID": {
                      "type": "string",
                      "example": "Chi tiết lỗi"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssetPositionCloseDerivativeResponse"
                      },
                      "example": [
                        {
                          "symbol": "TOTAL",
                          "side": "",
                          "openPrice": 0,
                          "closePrice": 0,
                          "closePosition": 0,
                          "fee": 11400,
                          "tax": 15275,
                          "closeVM": 500000,
                          "unrealize": 500000,
                          "closePC": 0,
                          "time": ""
                        },
                        {
                          "symbol": "VN30F2103",
                          "side": "B",
                          "openPrice": 1175,
                          "closePrice": 0,
                          "closePosition": "0/1",
                          "fee": 5700,
                          "tax": 7637.5,
                          "closeVM": 0,
                          "unrealize": 500000,
                          "closePC": 0,
                          "time": ""
                        },
                        {
                          "symbol": "VN30F2103",
                          "side": "S",
                          "openPrice": 1180,
                          "closePrice": 1175,
                          "closePosition": "1/1",
                          "fee": 5700,
                          "tax": 7637.5,
                          "closeVM": 500000,
                          "unrealize": 0,
                          "closePC": 3.26,
                          "time": "11:56:24"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/account/portfolio/status": {
      "get": {
        "operationId": "asset_position_open_derivative",
        "tags": [
          "asset_derivative"
        ],
        "summary": "6.2.2. Tài sản, vị thế mở",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "số tài khoản lưu kí",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402"
            }
          },
          {
            "name": "subAccountId",
            "in": "query",
            "description": "Tiểu khoản phái sinh",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.Portfolio.PortfolioStatus2",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1"
                    },
                    "rs": {
                      "type": "string",
                      "example": null
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssetPositionOpenDerivativeResponse"
                      },
                      "example": [
                        {
                          "symbol": "VN30F2303",
                          "im": "13%",
                          "deliver": "4",
                          "receive": "11",
                          "net": 7,
                          "side": "L",
                          "account": "000111A",
                          "wasp": 1120,
                          "wapb": 1159.2,
                          "lastPrice": 1198.4,
                          "imValue": 109054400,
                          "vmValue": 70560000,
                          "mrValue": 109054400,
                          "duedate": "29/06/2021",
                          "netoffvol": 7,
                          "avg_remain": 1120,
                          "vm_remain": 54880000,
                          "pc_remain": "53.85",
                          "stoploss": "",
                          "takeprofit": ""
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/in-day": {
      "get": {
        "operationId": "list_order_normal_derivative",
        "tags": [
          "get_order_derivative"
        ],
        "summary": "6.3.1. Tra cứu sổ lệnh thường",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "description": "Trang số",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Số phần tử trong trang",
            "required": true,
            "schema": {
              "type": "number",
              "example": "20"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "số tài khoản lưu kí",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "filter theo mã hợp đồng và theo vị thế:\n- `ALL,ALL`: Lọc ALL\n- `VN30F2303,B`: Lọc theo mã\n- `ALL,B`: Lọc theo L/S\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ALL,ALL"
            }
          },
          {
            "name": "orderType",
            "in": "query",
            "description": "filter theo Loại lệnh:\n- ``: Tất cả\n- `3`: Arbitrage\n- `4`: SL/TP\n- `5`: ForceClose\n- `6`: Thường\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "filter theo trạng thái:\n- `0`: Tất cả\n- `1`: Chờ khớp\n- `2`: Đã khớp\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.Order.IndayOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListOrderNormalDerivativeResponse"
                      },
                      "example": [
                        {
                          "orderNo": "37",
                          "pk_orderNo": "7625908",
                          "orderTime": "13:34:47",
                          "accountCode": "000112A",
                          "side": "S",
                          "symbol": "VN30F2303",
                          "volume": "1",
                          "showPrice": "MTL (1198)",
                          "matchVolume": "1",
                          "status": "PM",
                          "orderStatus": "4",
                          "channel": "I",
                          "group": "FU",
                          "cancelTime": "",
                          "isCancel": "0",
                          "isAmend": "0",
                          "info": "",
                          "maxPrice": "0",
                          "matchValue": "119800",
                          "quote": "Y",
                          "autoType": "",
                          "product": "",
                          "orderType": "N",
                          "source": "SYS"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/condition/detail": {
      "get": {
        "operationId": "list_order_condition_derivative",
        "tags": [
          "get_order_derivative"
        ],
        "summary": "6.3.2. Tra cứu sổ lệnh điều kiện",
        "x-hideTryItPanel": false,
        "description": "",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "description": "Trang số",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Số phần tử trong trang",
            "required": true,
            "schema": {
              "type": "string",
              "example": "25"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "số tài khoản lưu kí",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402"
            }
          },
          {
            "name": "subAccountID",
            "in": "query",
            "description": "Số tài khoản phái sinh",
            "required": true,
            "schema": {
              "type": "string",
              "example": "105C031402A"
            }
          },
          {
            "name": "orderStatus",
            "in": "query",
            "description": "filter theo trạng thái:\n- `0`: Tất cả\n- `1`: Chờ kích hoạt\n- `2`: Đã kích hoạt\n- `3`: Từ chối\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "orderType",
            "in": "query",
            "description": "filter theo loại lệnh:\n- ``: Tất cả\n- `3`: Arbitrage\n- `4`: SL/TP\n- `5`: stopOrder\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ALL,ALL"
            }
          },
          {
            "name": "Symbol",
            "in": "query",
            "description": "filter theo mã HĐTL và theo vị thế:\n- `ALL,ALL`: Lọc ALL\n- `VN30F2303,B`: Lọc theo mã\n- `ALL,B`: Lọc theo L/S\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.Order.ConditionOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListOrderConditionDerivativeResponse"
                      },
                      "example": [
                        {
                          "orderNo": "1",
                          "groupOrder": "463502",
                          "pk_orderNo": "463504",
                          "accountCode": "000112A",
                          "side": "B",
                          "symbol": "VN30F2303",
                          "showPrice": "1190.5",
                          "volume": "2",
                          "condition": "",
                          "result": "0",
                          "active_time": "",
                          "send_time": "14:01:01",
                          "cancel_time": "",
                          "group": "FU",
                          "channel": "I",
                          "maxPrice": "",
                          "soPrice": "1190.5",
                          "orderType": "SL",
                          "from_time": "29/04/2021",
                          "exp_time": "29/04/2021",
                          "status": "0",
                          "details": "",
                          "notes": "SL/TP"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/place": {
      "post": {
        "operationId": "order_normal_derivative",
        "tags": [
          "order_derivative"
        ],
        "summary": "6.4.1. Đặt lệnh thường",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderNormalDerivativeRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.newOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderNormalDerivativeResponse"
                      },
                      "example": [
                        {
                          "symbol": "VN30F2104",
                          "shareStatus": "",
                          "status": "P",
                          "msg_type": "1I",
                          "showPrice": "1198.7",
                          "orderTime": "15:52:48",
                          "type": "I",
                          "accountCode": "170929A",
                          "orderNo": "17",
                          "market": "",
                          "matchVolume": "0",
                          "side": "B",
                          "volume": "1",
                          "pk_orderNo": "7625320",
                          "channel": "I",
                          "refID": "17",
                          "group": "FU",
                          "accType": "C",
                          "quote": "G",
                          "autoType": ""
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/condition/place": {
      "post": {
        "operationId": "order_condition_derivative",
        "tags": [
          "order_derivative"
        ],
        "summary": "6.4.2. Đặt lệnh điều kiện",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderConditionDerivativeRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.newOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderConditionDerivativeResponseDTO"
                      },
                      "example": [
                        {
                          "symbol": "VN30F2110",
                          "shareStatus": "",
                          "status": "P",
                          "msg_type": "1I",
                          "showPrice": "1504.4",
                          "orderTime": "20:16:57",
                          "type": "I",
                          "accountCode": "100159A",
                          "orderNo": 1,
                          "market": "",
                          "matchVolume": 0,
                          "side": "B",
                          "volume": "1",
                          "pk_orderNo": "7843961",
                          "channel": "D",
                          "refID": "1",
                          "group": "FU",
                          "accType": "C",
                          "quote": "G",
                          "autoType": "",
                          "product": ""
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/change": {
      "post": {
        "operationId": "edit_order_normal_derivative",
        "tags": [
          "edit_order_derivative"
        ],
        "summary": "6.5.1. Sửa lệnh thường",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrderNormalDerivativeRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.changeOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EditOrderNormalDerivativeResponseDTO"
                      },
                      "example": [
                        {
                          "orderNo": 9,
                          "msg_type": "1P",
                          "status": "PC",
                          "showPrice": "1290.0",
                          "volume": "4",
                          "pk_orderNo": 20029858
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v2/order/condition/change": {
      "post": {
        "operationId": "edit_order_condition_derivative",
        "tags": [
          "edit_order_derivative"
        ],
        "summary": "6.5.2. Sửa lệnh điều kiện",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrderConditionDerivativeRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.Order.ChangeConditionOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EditOrderConditionDerivativeResponseDTO"
                      },
                      "example": [
                        {
                          "showPrice": "1453.9",
                          "price": "1362.2",
                          "volume": "1",
                          "pkOrderNo": "901943",
                          "notes": "Stop order"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/cancel": {
      "post": {
        "operationId": "cancel_order_normal_derivative",
        "tags": [
          "cancel_order_derivative"
        ],
        "summary": "6.6.1. Huỷ lệnh thường",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderNormalDerivativeRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.changeOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CancelOrderNormalDerivativeResponseDTO"
                      },
                      "example": [
                        {
                          "orderNo": 1,
                          "msg_type": "1C",
                          "status": "PW",
                          "pk_orderNo": 7625368,
                          "cancelTime": "16:20:15"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/order/condition/cancel": {
      "post": {
        "operationId": "cancel_order_condition_derivative",
        "tags": [
          "cancel_order_derivative"
        ],
        "summary": "6.6.2. Huỷ lệnh điều kiện",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderConditionDerivativeRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "Web.cancelActivatedOrder",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CancelOrderConditionDerivativeResponseDTO"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/physis/v1/stock/transfer": {
      "post": {
        "operationId": "transfer_between_subaccount",
        "tags": [
          "money"
        ],
        "summary": "4.1.1. Chuyển tiền nội bộ",
        "x-hideTryItPanel": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBetweenSubaccountRequestDTO"
              }
            }
          }
        },
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200",
                      "description": "Code trả về, 200 là thành công, khác 200 là lỗi"
                    },
                    "message": {
                      "type": "string",
                      "example": "OK",
                      "description": "Nội dung trả về"
                    }
                  },
                  "example": {
                    "code": "200",
                    "message": "OK"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/cash/withdraw/update": {
      "post": {
        "operationId": "withdrawal_derivative",
        "tags": [
          "money"
        ],
        "summary": "4.2.1. Rút ký quỹ",
        "x-hideTryItPanel": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalDerivativeRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/khronos/v1/cash/deposit/update": {
      "post": {
        "operationId": "deposit_derivative",
        "tags": [
          "money"
        ],
        "summary": "4.2.2. Nộp ký quỹ",
        "x-hideTryItPanel": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositDerivativeRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cmd": {
                      "type": "string",
                      "example": "",
                      "description": "Loại bút toán"
                    },
                    "rc": {
                      "type": "string",
                      "example": "1",
                      "description": "1: success, < 0: error"
                    },
                    "rs": {
                      "type": "string",
                      "example": null,
                      "description": "Chi tiết lỗi"
                    },
                    "oID": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DepositDerivativeResponseDTO"
                      },
                      "example": {
                        "transactionId": "CA330E033D3BD113E053EE02070AED89"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequestDto": {
        "type": "object",
        "required": [
          "otp",
          "apiKey"
        ],
        "properties": {
          "otp": {
            "type": "string",
            "example": "111111",
            "description": "Mã OTP"
          },
          "apiKey": {
            "type": "string",
            "example": "310ebe1b-07a7-463a-860d-773dcaa31591",
            "description": "API Key được gen trên tcinvest"
          }
        },
        "title": "TokenRequestDto"
      },
      "TokenResponseDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "eyJ4NXQiOiJaaWpkaFpqVmlNamMwWmdfUlMyNTYiLCJhbGciOiJSUzI1NiJ9",
            "description": "Token sau khi trao đồi từ API Key"
          }
        },
        "title": "TokenResponseDto"
      },
      "TokenResponseErrorDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "203074",
            "description": "Mã lỗi"
          },
          "message": {
            "type": "string",
            "example": "The API Key is invalid",
            "description": "Nội dung lỗi"
          }
        },
        "title": "TokenResponseErrorDto"
      },
      "PlaceOrderExternalDto": {
        "type": "object",
        "required": [
          "execType",
          "price",
          "priceType",
          "quantity",
          "symbol"
        ],
        "properties": {
          "execType": {
            "type": "string",
            "pattern": "^(NS|NB)$",
            "example": "NS",
            "description": "Chiều giao dịch",
            "enum": [
              "NS",
              "NB"
            ]
          },
          "price": {
            "type": "integer",
            "format": "int64",
            "example": 10000,
            "description": "Giá giao dịch"
          },
          "priceType": {
            "type": "string",
            "example": "LO",
            "description": "Loại giá giao dịch",
            "enum": [
              "LO",
              "ATO",
              "ATC",
              "PLO",
              "MP",
              "MTL",
              "MOK",
              "MAK"
            ]
          },
          "quantity": {
            "type": "integer",
            "format": "int64",
            "example": 100,
            "description": "Khối lượng giao dịch"
          },
          "symbol": {
            "type": "string",
            "example": "VNM",
            "description": "Mã chứng khoán"
          }
        },
        "title": "PlaceOrderExternalDto"
      },
      "PlaceOrderResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "0",
            "description": "Mã lỗi"
          },
          "message": {
            "type": "string",
            "example": "Đặt lệnh thành công!",
            "description": "Message lỗi"
          },
          "orderId": {
            "type": "string",
            "example": "9202205230000324355",
            "description": "Số hiệu lệnh phản hồi về"
          }
        },
        "title": "PlaceOrderResponse"
      },
      "UpdateOrderRequestDto": {
        "type": "object",
        "required": [
          "price",
          "quantity"
        ],
        "properties": {
          "price": {
            "type": "integer",
            "format": "int64",
            "example": 10000,
            "description": "Giá giao dịch"
          },
          "quantity": {
            "type": "integer",
            "format": "int64",
            "example": 100,
            "description": "Khối lượng giao dịch"
          }
        },
        "title": "UpdateOrderRequestDto"
      },
      "UpdateOrderResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "0",
            "description": "Mã lỗi"
          },
          "message": {
            "type": "string",
            "example": "Đặt lệnh thành công!",
            "description": "Message lỗi"
          },
          "orderId": {
            "type": "string",
            "example": "9202205230000324355",
            "description": "Số hiệu lệnh phản hồi về"
          }
        },
        "title": "UpdateOrderResponse"
      },
      "CancelOrderRequestDto": {
        "type": "object",
        "required": [
          "ordersList"
        ],
        "properties": {
          "ordersList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderIDResponse"
            },
            "example": [
              {
                "orderID": "9202205230000324355"
              }
            ]
          }
        },
        "title": "CancelOrderRequestDto"
      },
      "CancelOrderResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataX"
            }
          },
          "object": {
            "type": "string",
            "example": "deleteOrderList"
          },
          "pageIndex": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 20
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "example": 20
          }
        },
        "title": "CancelOrderResponse"
      },
      "Detail": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "string",
            "enum": [
              "Y",
              "N"
            ]
          },
          "errorCode": {
            "type": "string",
            "example": "0"
          },
          "errorMesage": {
            "type": "string",
            "example": "Giao dịch thực hiện thành công"
          },
          "orderID": {
            "type": "string",
            "example": "9202205230000324355"
          }
        },
        "title": "Detail"
      },
      "DataX": {
        "type": "object",
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Detail"
            }
          },
          "object": {
            "type": "string"
          }
        },
        "title": "DataX"
      },
      "OrderIDResponse": {
        "type": "object",
        "properties": {
          "orderID": {
            "type": "string"
          }
        },
        "title": "OrderID"
      },
      "OrderSearchResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "List",
            "description": "Mặc định = 'List'"
          },
          "pageSize": {
            "type": "integer",
            "format": "int64",
            "description": "Kích thước trang",
            "example": "10"
          },
          "pageIndex": {
            "type": "integer",
            "format": "int64",
            "description": "Index trang",
            "example": "1"
          },
          "totalCount": {
            "type": "integer",
            "format": "int64",
            "description": "Tổng số bản ghi thỏa mãn điều kiện filter",
            "example": 1
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderInfo"
            }
          }
        }
      },
      "OrderInfo": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "order",
            "description": ""
          },
          "accountNo": {
            "type": "string",
            "example": "0001008918",
            "description": "Số tiểu khoản"
          },
          "orderID": {
            "type": "string",
            "example": "9202110200000060280",
            "description": "Số hiệu lệnh"
          },
          "execType": {
            "type": "string",
            "example": "NB",
            "description": "Loại lệnh"
          },
          "orderQtty": {
            "type": "number",
            "format": "double",
            "example": "2500.0",
            "description": "Khối lượng đặt"
          },
          "execQtty": {
            "type": "number",
            "format": "double",
            "example": "0.0",
            "description": "Khối lượng khớp"
          },
          "codeID": {
            "type": "string",
            "example": null,
            "description": ""
          },
          "symbol": {
            "type": "string",
            "example": "HPG",
            "description": "Mã chứng khoán"
          },
          "priceType": {
            "type": "string",
            "example": "LO",
            "description": "Loại giá"
          },
          "txtime": {
            "type": "string",
            "example": "14:15:34",
            "description": "Giờ đặt lệnh"
          },
          "txdate": {
            "type": "string",
            "example": "2021-08-19T00:00:00.000+07:00",
            "description": "Ngày đặt lệnh. định dạng RFC 3339 "
          },
          "expDate": {
            "type": "string",
            "example": "2021-08-19T00:00:00.000+07:00",
            "description": "Ngày hết hạn. định dạng RFC 3339 "
          },
          "timeType": {
            "type": "string",
            "example": "T",
            "description": "Loại thời gian hiệu lực:\n- `T`: Trong ngày\n- `G`: Nhiều ngày\n",
            "enum": [
              "T",
              "G"
            ]
          },
          "orStatus": {
            "type": "string",
            "example": "11",
            "description": "Trạng thái lệnh hiển thị:\n- `0`: Từ chối\n- `2`: Đã gửi\n- `3`: Đã hủy\n- `4`: Đã khớp\n- `5`: Hết hiệu lực\n- `8`: Chờ gửi\n- `10`: Đã sửa\n- `11`: Đang gửi\n- `12`: Khớp hết\n- `A`: Đang sửa\n- `C`: Đang hủy\n- `S`: Hoàn tất\n",
            "enum": [
              "0",
              "2",
              "3",
              "4",
              "5",
              "8",
              "10",
              "11",
              "12",
              "A",
              "C",
              "S"
            ]
          },
          "feeAcr": {
            "type": "number",
            "example": "0.0",
            "description": "Phí"
          },
          "limitPrice": {
            "type": "number",
            "example": "25000.0",
            "description": "Giá đặt lệnh"
          },
          "cancelQtty": {
            "type": "number",
            "format": "double",
            "example": "0.0",
            "description": "Khối lượng hủy"
          },
          "remainQtty": {
            "type": "number",
            "format": "double",
            "example": "2500.0",
            "description": ""
          },
          "via": {
            "type": "string",
            "example": "O",
            "description": "\"Kênh giao dịch\"\n- `T`: \"Call margin\"\n- `M`: \"Tổng đài\"\n- `O`: 'Online'\n",
            "enum": [
              "T",
              "M",
              "O"
            ]
          },
          "quotePrice": {
            "type": "number",
            "example": "25000.0",
            "description": "Giá đặt lệnh"
          },
          "matchPrice": {
            "type": "number",
            "example": "0.0",
            "description": "Giá khớp trung bình của lệnh, làm tròn đến 2 số sau dấu phẩy"
          },
          "tradePlace": {
            "type": "string",
            "example": "005",
            "description": "\"Board đặt lệnh\"\n- `005`: \"UPCOM\"\n- `002`: \"HNX\"\n- `001`: \"HOSE\"\n- `000`: \"BOND\"\n",
            "enum": [
              "005",
              "002",
              "001",
              "000"
            ]
          },
          "matchType": {
            "type": "string",
            "example": "P",
            "description": "Loại khớp\n- `P`: \"Thỏa thuận\"\n- `N`: \"Bình thường\"\n",
            "enum": [
              "P",
              "N"
            ]
          },
          "isDisposal": {
            "type": "string",
            "example": "Y",
            "description": "là lệnh bán xử lý?",
            "enum": [
              "Y",
              "N"
            ]
          },
          "isCancel": {
            "type": "string",
            "example": "Y",
            "description": "Cho phép hủy?\n- `Y`: \"Có\"\n- `N`: \"Không\"\n",
            "enum": [
              "Y",
              "N"
            ]
          },
          "isAmend": {
            "type": "string",
            "example": "Y",
            "enum": [
              "Y",
              "N"
            ],
            "description": "Cho phép sửa?\n- `Y`: \"Có\"\n- `N`: \"Không\"\n"
          },
          "userName": {
            "type": "string",
            "example": "6868",
            "enum": [
              "6868",
              "8686"
            ],
            "description": "userID đặt lệnh\n- `6868`: \"Online\"\n- `8686`: \"Lệnh điều kiện, icopy\"\n"
          },
          "orsOrderID": {
            "type": "string",
            "example": "9202110200000060280",
            "description": "Số hiệu lệnh"
          },
          "sectype": {
            "type": "string",
            "enum": [
              "001",
              "002",
              "003",
              "005",
              "006",
              "007",
              "008",
              "009",
              "011"
            ],
            "example": "001",
            "description": "- `001`: \"Cổ phiếu thường\"\n- `002`: \"Cổ phiếu ưu đãi\"\n- `003`: \"Trái phiếu chuyển đổi\"\n- `005`: \"Tương lai\"\n- `006`: \"Trái phiếu\"\n- `007`: \"Chứng chỉ ủy thác\"\n- `008`: \"Chứng chỉ quỹ\"\n- `009`: \"Giấy chứng nhận TG\"\n- `011`: \"Chứng quyền\"\n"
          },
          "isFOOrder": {
            "type": "string",
            "example": "Y",
            "description": "Lệnh FO?\n- `Y`: \"Lệnh sinh từ FO\"\n- `N`: \"Lệnh sinh từ BO\"\n",
            "enum": [
              "Y",
              "N"
            ]
          },
          "odTimeStamp": {
            "type": "string",
            "example": "2021-10-20 14:15:34.000000",
            "description": "Thời gian sinh lệnh"
          },
          "matchAmount": {
            "type": "number",
            "example": 0,
            "description": "Giá trị khớp của lệnh."
          },
          "mmType": {
            "type": "string",
            "example": null
          },
          "bRatio": {
            "type": "number",
            "example": 100.03,
            "description": "Tỷ lệ ký quỹ (bao gồm phí)"
          },
          "taxSellAmout": {
            "type": "number",
            "example": 0
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "accountNo": {
            "type": "string",
            "description": "Số tiểu khoản của khách hàng",
            "example": "0001170730"
          },
          "custodyID": {
            "type": "string",
            "description": "Số lưu ký của khách hàng",
            "example": "105C336398"
          },
          "symbol": {
            "type": "string",
            "description": "Mã chứng khoán tính sức mua",
            "example": "FPT"
          },
          "price": {
            "type": "number",
            "description": "Giá tính sức mua",
            "example": "120000"
          },
          "pp0": {
            "type": "number",
            "description": "Sức mua cơ bản",
            "example": "50000000001"
          },
          "ppse": {
            "type": "number",
            "description": "Sức mua theo mã chưa bao gồm số dư bank với tk kết nối IA",
            "example": "50000000001"
          },
          "ppseref": {
            "type": "number",
            "description": "Sức mua theo mã đã bao gồm số dư bank với tk kết nối IA",
            "example": "50000000001"
          },
          "maxBuyQuantity": {
            "type": "number",
            "description": "Số lượng chứng khoán được mua tối đa đã làm tròn xuống theo lô",
            "example": "458600"
          },
          "realMaxBuyQuantity": {
            "type": "number",
            "description": "Số lượng chứng khoán được mua tối đa không làm tròn theo lô",
            "example": "458678"
          },
          "minBuyQuantity": {
            "type": "number",
            "description": "Số lượng chứng khoán được mua tối thiểu đã làm tròn xuống theo lô",
            "example": "375200"
          },
          "marginRatioLoan": {
            "type": "number",
            "description": "Tỷ lệ margin của mã",
            "example": "50"
          },
          "marginPriceLoan": {
            "type": "number",
            "description": "Giá tính margin của mã",
            "example": "24000"
          },
          "rateBrkS": {
            "type": "string",
            "description": "Tỷ lệ phí GD cổ phiếu (chưa chia 100)",
            "example": "0.03"
          },
          "rateBrkB": {
            "type": "string",
            "description": "Tỷ lệ phí GD trái phiếu (chưa chia 100)",
            "example": "0.03"
          }
        }
      },
      "SeInfoDTO": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "accountNo": {
            "type": "string",
            "example": "0001170730",
            "description": "Số tiểu khoản"
          },
          "custodyID": {
            "type": "string",
            "example": "105C354675",
            "description": "Số tài khoản lưu ký (105C)"
          },
          "fullName": {
            "type": "string",
            "example": "Nguyen Van Nam",
            "description": "Tên khách hàng"
          },
          "stock": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StockHoldingInfo"
            }
          }
        }
      },
      "StockHoldingInfo": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Mã chứng khoán",
            "example": "FPT"
          },
          "secType": {
            "type": "string",
            "example": "001",
            "enum": [
              "001",
              "002",
              "003",
              "005",
              "006",
              "008",
              "011",
              "012",
              "555"
            ]
          },
          "secTypeName": {
            "type": "string",
            "description": "Tên loại chứng khoán",
            "example": null
          },
          "availableTrading": {
            "type": "number",
            "description": "Số dư có thể giao dịch",
            "example": "1000"
          },
          "mortgaged": {
            "type": "number",
            "description": "SL chứng khoán cầm cố",
            "example": null
          },
          "t0": {
            "type": "number",
            "description": "SL chứng khoán khớp lệnh mua hôm nay (T0)",
            "example": 0
          },
          "t1": {
            "type": "number",
            "description": "SL chứng khoán khớp lệnh mua T-1",
            "example": 0
          },
          "t2": {
            "type": "number",
            "description": "SL chứng khoán khớp lệnh mua T-2",
            "example": 0
          },
          "blocked": {
            "type": "number",
            "description": "CK bị phong tỏa đầu ngày",
            "example": 0
          },
          "securedQuantity": {
            "type": "number",
            "description": "Số dư ký quỹ bán trong ngày (gồm chờ khớp + đã khớp)",
            "example": 0
          },
          "sellRemain": {
            "type": "number",
            "description": "Số chứng bán chưa khớp",
            "example": 0
          },
          "exercisedCA": {
            "type": "number",
            "description": "Quyền mua đã đăng ký",
            "example": 0
          },
          "unexercisedCA": {
            "type": "number",
            "description": "Quyền mua chưa đăng ký",
            "example": 0
          },
          "stockDividend": {
            "type": "number",
            "description": "Cổ tức bằng cổ phiếu, tách cổ phiếu,...",
            "example": 0
          },
          "cashDividend": {
            "type": "number",
            "description": "Cổ tức bằng tiền",
            "example": 0
          },
          "waitForTrade": {
            "type": "number",
            "description": "SL chứng khoán chờ giao dịch",
            "example": 0
          },
          "waitForTransfer": {
            "type": "number",
            "description": "SL chứng khoán chờ chuyển rút",
            "example": 0
          },
          "waitForWithdraw": {
            "type": "number",
            "description": "SL chứng khoán chờ rút",
            "example": 0
          },
          "currentPrice": {
            "type": "number",
            "description": "Giá tham chiếu",
            "example": 44000
          },
          "costPrice": {
            "type": "number",
            "description": "Giá vốn",
            "example": 52906
          },
          "sellExec": {
            "type": "number",
            "description": "SL chứng khoán bán khớp",
            "example": 0
          },
          "onHold": {
            "type": "number",
            "description": "Số lượng chứng khoán tạm giữ từ VSD",
            "example": 0
          },
          "totalQtty": {
            "type": "number",
            "description": "Tổng KL chứng khoán",
            "example": 0
          },
          "settlement": {
            "type": "number",
            "description": "Mô hình thanh toán của mã CK",
            "example": 0
          }
        }
      },
      "CashInvestmentResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "description": "Tổng số bản ghi trả ra",
            "example": 20
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "description": "Mặc định = 20",
            "example": 20
          },
          "pageIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Mặc định =1",
            "example": 1
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CashInvestmentInfo"
            }
          }
        }
      },
      "CashInvestmentInfo": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "iaInfos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAInfo"
            }
          },
          "pp0forBF": {
            "type": "number",
            "description": "Sức mua cơ bản cho sản phẩm BOND/FUND",
            "example": 2057323960
          },
          "bankAvlBalanceBF": {
            "type": "number",
            "description": "Tổng số dư khả dụng của các nguồn IA cho sp BOND/FUND",
            "example": 6500000
          },
          "bodBalance": {
            "type": "number",
            "description": "Tiền mặt tại TCBS",
            "example": 918000000
          },
          "cashBalance": {
            "type": "number",
            "description": "Tiền mặt",
            "example": 918000000
          },
          "accountNo": {
            "type": "string",
            "description": "Số tiểu khoản",
            "example": "0001170730"
          },
          "custodyID": {
            "type": "string",
            "description": "Số tài khoản (105C)",
            "example": "105C447239"
          },
          "fullName": {
            "type": "string",
            "description": "Tên khách hàng",
            "example": "Nguyen Van Nam"
          },
          "balance": {
            "type": "number",
            "description": "Số dư tiền mặt tại TCBS = Tiền mặt - ký quỹ mua lệnh đã khớp",
            "example": 2000050090
          },
          "avlAdvanceAmount": {
            "type": "number",
            "description": "Số dư có thể ứng trước",
            "example": 0
          },
          "buyingAmount": {
            "type": "number",
            "description": "Ký quỹ mua chưa khớp (đã tính phí tạm tính)",
            "example": 0
          },
          "blockAmount": {
            "type": "number",
            "description": "Số dư tiền bị phong tỏa",
            "example": 0
          },
          "cashDevident": {
            "type": "number",
            "description": "Cổ tức bằng tiền",
            "example": 0
          },
          "bankAvlBalance": {
            "type": "number",
            "description": "Tổng số dư khả dụng của các nguồn IA",
            "example": 106500000
          },
          "bankBlockAmount": {
            "type": "number",
            "description": "Số dư phong tỏa tại ngân hàng",
            "example": 5000000
          },
          "avlWithdraw": {
            "type": "number",
            "description": "Số dư có thể rút/chuyển",
            "example": 1781124410
          },
          "pp0": {
            "type": "number",
            "description": "Sức mua cơ bản",
            "example": 2057323960
          },
          "secureAmtPO": {
            "type": "number",
            "description": "Số tiền ký quỹ mua Bond niêm yết PO",
            "example": 0
          },
          "bondBlockAmount": {
            "type": "number",
            "description": "Số dư phong tỏa mua BOND",
            "example": 0
          },
          "mBlockAmount": {
            "type": "number",
            "description": "Tiền phong toả do lệnh bán ck cầm cố + cổ tức, trái tức bị phong toả do cầm cố",
            "example": 0
          },
          "fundBlockAmount": {
            "type": "number",
            "description": "Tổng số tiền phong tỏa mua FUND",
            "example": 0
          },
          "avalBondBlockAmount": {
            "type": "number",
            "description": "Số dư phong tỏa mua BOND khả dụng",
            "example": 0
          },
          "depoFee": {
            "type": "number",
            "description": "Tổng nợ phí lưu ký",
            "example": 0
          },
          "bCashDividend": {
            "type": "number",
            "description": "Trái tức niêm yết sẽ nhận (bao gồm cả số bị phong tỏa-nếu có) & là số đã trừ đi phí/ thuế",
            "example": 0
          },
          "sCashDividend": {
            "type": "number",
            "description": "Tiền cổ tức chờ về (bao gồm cả số bị phong tỏa-nếu có) & là số đã trừ đi phí/ thuế",
            "example": 0
          },
          "dsecured": {
            "type": "number",
            "description": "Tổng tiền mua trong ngày",
            "example": 0
          },
          "adused": {
            "type": "number",
            "description": "Dự kiến ứng tiền tự động",
            "example": 0
          },
          "mrused": {
            "type": "number",
            "description": "Dự kiến giải ngân margin",
            "example": 0
          }
        }
      },
      "IAInfo": {
        "type": "object",
        "properties": {
          "partner": {
            "type": "string",
            "description": "Tên nguồn IA",
            "example": "CTG"
          },
          "available": {
            "type": "number",
            "description": "Số dư khả dụng",
            "example": 6500000
          },
          "hold": {
            "type": "number",
            "description": "Số dư phong tỏa",
            "example": 5000000
          }
        }
      },
      "BasicInfo": {
        "type": "object",
        "properties": {
          "tcbsId": {
            "type": "string",
            "description": "Số định danh của user tại TCBS",
            "example": "0001738764"
          },
          "code105C": {
            "type": "string",
            "description": "Tên đăng nhập",
            "example": "105C334455"
          },
          "status": {
            "type": "string",
            "description": "Trạng thái tài khoản\n- `ACTIVE`: \"Đang hoạt động\"\n- `BLOCK`: \"Tạm khóa do user tự thao tác / panna tác động / sai BMNC\"\n- `BLOCK_BY_OPS`: \"Tạm khóa do Ops\"\n- `LOCK`: \"Khóa (không sử dụng)\"\n- `INACTIVE`: \"Đóng\"\n- `EXCEPTION`: \"Ngoại lệ (không sử dụng)\"\n- `LOCK_WAITING_TO_CLOSE`: \"Khóa chờ đóng\"\n- `RESTRICTED_ACCESS`: \"Giới hạn truy cập (chỉ được phép gọi GET)\"\n- `WAITING_CONFIRM_EM`: \"Chờ xác thực để mở khóa\"\n- `WAITING_FOR_UNLOCK`: \"Chờ mở khóa\"\n- `LOCKDOWN`: \"Phong tỏa bởi KSNB\"\n",
            "example": "ACTIVE"
          },
          "type": {
            "type": "string",
            "description": "Loại hình tài khoản\n- `INDIVIDUAL`: \"Cá nhân\"\n- `CORPORATE`: \"Tổ chức\"\n",
            "example": "INDIVIDUAL"
          },
          "depository": {
            "type": "boolean",
            "description": "Có phải tài khoản lưu kí tại VSD hay không",
            "example": true
          }
        }
      },
      "PersonalInfo": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "description": "họ tên",
            "example": "Nguyễn Văn Nam"
          },
          "fullNameNoAccent": {
            "type": "string",
            "description": "họ tên không dấu",
            "example": "Nguyen Van Nam"
          },
          "firstName": {
            "type": "string",
            "description": "tên",
            "example": "Nam"
          },
          "lastName": {
            "type": "string",
            "description": "họ và tên đệm",
            "example": "Nguyen Van"
          },
          "email": {
            "type": "string",
            "description": "email",
            "example": "namnv@email.com"
          },
          "phoneNumber": {
            "type": "string",
            "description": "số điện thoại",
            "example": "0367611245"
          },
          "gender": {
            "type": "string",
            "description": "giới tính\n- `MALE`: \"Nam\"\n- `FEMALE`: \"Nữ\"\n",
            "example": "MALE"
          },
          "birthday": {
            "type": "string",
            "description": "ngày sinh",
            "example": "1996-05-24T00:00:00.000Z"
          },
          "contactAddress": {
            "type": "string",
            "description": "địa chỉ liên hệ",
            "example": "117 Trần Duy Hưng, Cầu Giấy, Hà Nội"
          },
          "permanentAddress": {
            "type": "string",
            "description": "địa chỉ thường trú",
            "example": "117 Trần Duy Hưng, Cầu Giấy, Hà Nội"
          },
          "nationality": {
            "type": "string",
            "description": "mã quốc tịch",
            "example": "VN"
          },
          "nationalityName": {
            "type": "string",
            "description": "tên quốc tịch ",
            "example": "Việt Nam"
          },
          "taxIdNumber": {
            "type": "string",
            "description": "mã số thuế",
            "example": "6477273733"
          },
          "acronym": {
            "type": "string",
            "description": "tên viết tắt",
            "example": null
          },
          "createdDate": {
            "type": "string",
            "description": "thời điểm tạo tài khoaản",
            "example": "2019-06-27T09:56:19.000Z"
          },
          "updatedDate": {
            "type": "string",
            "description": "thời điểm cuối cập nhật thông tin tài khoản",
            "example": "2024-07-05T08:07:35.000Z"
          },
          "flowOpenAccount": {
            "type": "string",
            "description": "kênh mở tài khoản\n- `null`: \"không xác định\"\n- `0`: \"online\"\n- `1`: \"quầy\"\n- `2`: \"app techcombank\"\n- `3`: \"app vinid\"\n",
            "example": "2"
          },
          "avatarUrl": {
            "type": "string",
            "description": "link avatar",
            "example": ""
          },
          "businessType": {
            "type": "string",
            "description": "loại hình doanh nghiệp",
            "example": null
          },
          "ppBusinessType": {
            "type": "string",
            "description": "mã loại hình kinh doanh",
            "example": null
          },
          "ppBusinessField": {
            "type": "string",
            "description": "mã lĩnh vực hoạt động",
            "example": null
          },
          "ppBusinessTypeName": {
            "type": "string",
            "description": "tên loại hình kinh doanh",
            "example": null
          },
          "ppBusinessFieldName": {
            "type": "string",
            "description": "tên lĩnh vực hoạt động",
            "example": null
          },
          "identityCard": {
            "$ref": "#/components/schemas/IdentityCard"
          }
        }
      },
      "AccountInformationResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "description": "Tổng số bản ghi trả ra",
            "example": 20
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "default": 20,
            "description": "Số lượng phần tử mỗi trang",
            "example": 20
          },
          "pageIndex": {
            "type": "integer",
            "default": 1,
            "format": "int32",
            "description": "Trang muốn lấy",
            "example": 1
          },
          "basicInfo": {
            "$ref": "#/components/schemas/BasicInfo"
          },
          "personalInfo": {
            "$ref": "#/components/schemas/PersonalInfo"
          },
          "bankAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankAccounts"
            }
          },
          "bankSubAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankSubAccounts"
            }
          }
        }
      },
      "BankAccounts": {
        "type": "object",
        "properties": {
          "accountNo": {
            "type": "string",
            "description": "số tài khoản",
            "example": "02848283883"
          },
          "accountName": {
            "type": "string",
            "description": "tên chủ tài khoản",
            "example": "Nguyễn Văn Nam"
          },
          "accountNameNoAccent": {
            "type": "string",
            "description": "tên chủ tài khoản không dấu",
            "example": "Nguyen Van Nam"
          },
          "bankCode": {
            "type": "string",
            "description": "mã chi nhánh ",
            "example": "01310001"
          },
          "bankName": {
            "type": "string",
            "description": "tên ngân hàng",
            "example": "Ngân hàng TMCP Kỹ Thương Việt Nam"
          },
          "branchCode": {
            "type": "string",
            "description": "tên chi nhánh",
            "example": "NH TMCP KY THUONG VN HOI SO CHINH"
          },
          "bankType": {
            "type": "string",
            "description": "loại chi nhánh\n- `CENTRALIZED_PAYMENT`: \"tập trung\"\n- `DECENTRALIZED_PAYMENT`: \"phi tập trung\"\n",
            "example": "CENTRALIZED_PAYMENT"
          },
          "bankSys": {
            "type": "string",
            "description": "mã ngân hàng",
            "example": "310"
          },
          "authorized": {
            "type": "string",
            "description": "tài khoản có chính chủ hay không\n- `null`: \"tài khoản cũ bỏ qua check chính chủ\"\n- `0`: \"không chính chủ\"\n- `1`: \"chính chủ\"\n- `2`: \"tài khoản chưa được xác minh\"\n- `3`: \"tài khoản không cần xác minh\"\n",
            "example": "1"
          },
          "bankAccountType": {
            "type": "string",
            "description": "phạm vi áp dụng\n- `STOCK_FUND`: \"tài khoản chính (áp dụng cả quỹ và chứng khoán)\"\n- `FUND`: \"tài khoản áp dụng cho quỹ\"\n- `STOCK`: \"tài khoản áp dụng cho chứng khoán\"\n",
            "example": "STOCK_FUND"
          }
        }
      },
      "BankSubAccounts": {
        "type": "object",
        "properties": {
          "accountNo": {
            "type": "string",
            "description": "số tiểu khoản",
            "example": "0001170730"
          },
          "accountName": {
            "type": "string",
            "description": "tên tiểu khoản",
            "example": "Nguyen Van Nam"
          },
          "accountType": {
            "type": "string",
            "description": "mã loại tiểu khoản",
            "example": "NORMAL"
          },
          "accountTypeName": {
            "type": "string",
            "description": "tên loại tiểu khoản",
            "example": "Thường"
          },
          "status": {
            "type": "string",
            "description": "trạng thái\n- `0`: \"không hoạt động\" \n- `1`: \"đang hoạt động\"\n",
            "example": "1"
          },
          "isDefault": {
            "type": "string",
            "description": "có phải tiểu khoản mặc định không\n- `N`: \"không\"\n- `Y`: \"có\"\n",
            "example": "Y"
          }
        }
      },
      "IdentityCard": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "idNumner": {
            "type": "string",
            "description": "số giấy tờ định danh",
            "example": "024561782211"
          },
          "idPlace": {
            "type": "string",
            "description": "nơi cấp",
            "example": "Cục CS QLHC về TTXH"
          },
          "idDate": {
            "type": "string",
            "description": "ngày cấp",
            "example": "2023-09-25T00:00:00.000+07:00"
          },
          "expireDate": {
            "type": "string",
            "description": "ngày hết hạn",
            "example": "2026-10-12"
          },
          "idType": {
            "type": "string",
            "description": "loại giấy tờ\n- `0` - \"CMND/CCCD\"\n- `1` - \"Hộ chiếu\"\n- `2` - \"Tradding code\"\n- `3` - \"Đăng kí kinh doanh\"\n- `4` - \"Giấy chứng nhận thành viên lưu kí\" \n- `5` - \"Giấy thành lập doanh nghiệp\"\n",
            "example": "0"
          }
        }
      },
      "CommandMatchInformationResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "description": "Tổng số bản ghi trả ra",
            "example": 25
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "description": "Số lượng phần tử 1 trang",
            "example": 25
          },
          "pageIndex": {
            "type": "integer",
            "format": "int32",
            "description": "Mục lục trang",
            "example": 0
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommandMatchInformationDetailResponse"
            }
          }
        }
      },
      "CommandMatchInformationDetailResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Số hiệu lệnh phản hồi về",
            "example": 9202407170000281000
          },
          "side": {
            "type": "string",
            "description": "Chiều lệnh\n- `S`: \"Bán\"\n- `B`: \"Mua\"\n",
            "example": "B"
          },
          "symbol": {
            "type": "string",
            "description": "Mã chứng khoán",
            "example": "FPT"
          },
          "quoteQtty": {
            "type": "number",
            "description": "Khối lượng đặt",
            "example": 800
          },
          "quotePrice": {
            "type": "number",
            "description": "Giá đặt",
            "example": 54000
          },
          "tradeId": {
            "type": "string",
            "description": "Id lệnh khớp",
            "example": 202409160000220380
          },
[...]
